<% layout('layouts/boilerplate')%>

<div class="content center">
	<h2>foo Page 1 (views/foo/page1.ejs)</h2>
</div>

<h5 class="center"> this is a Math.random() function in ejs template <%= Math.random() %> </h5>