<% layout('layouts/boilerplate')%>

<div class="content center">
	<h2>Homepage Content</h2>
	<h4>to modify or remove the home page content go to "views/home.ejs"</h4>
	<h4>to modify the layout go to "views/layouts/boilerplate.ejs"</h4>
	<h4>to modify or remove navbar and footer go to "views/partials/footer.ejs" "views/partials/navbar.ejs"</h4>
</div>